<ion-modal-view class="requestHardCopyModal">
   <ion-header-bar class="bar-balanced bar bar-header">
      <h1 class="title">Request {{catalog.title.rendered}} </h1>
      <button class = "button button-icon icon-right ion-{{os}}-close" ng-click="requestHardCopyModal.hide()"></button>
   </ion-header-bar>

   <ion-content>
     <div class="card">

        <div class="list list-inset">
          <form name="userRequestCatalog">
          <label class="item item-input">
            <i class="icon ion-{{os}}-person placeholder-icon"></i>
            <input type="text" placeholder="Name" name="userName" ng-model="user.name" required>
          </label>
          <label class="item item-input">
            <i class="icon ion-ios-telephone placeholder-icon"></i>
            <input type="text" placeholder="Phone" name="userPhone" ng-model="user.phone" required>
          </label>
          <label class="item item-input">
            <i class="icon ion-location placeholder-icon"></i>
            <input type="text" placeholder="Address" name="userAddress" ng-model="user.address" required>
          </label>
          <button ng-disabled="userRequestCatalog.$invalid" class="button button-full button-balanced" ng-click="sendRequest(catalog.title.rendered, user)">
            Send Request
          </button>
         </form>
        </div>

     </div>
   </ion-content>
</ion-modal-view>
