<ion-view view-title="Sign Up" hide-back-button="true" hide-nav-bar="true" class="signup-page">
  <a class="button icon-left ion-chevron-left button-clear button-light back-btn" ng-href="#/app/signin">Sign In</a>
  <ion-content>
    <div class="signin-logo"></div>
    <div class="card">
      <form name="registerForm" novalidate>
      <label class="item item-input">
        <i class="icon ion-person"></i>
        <span class="input-label">Username</span>
        <input ng-model="user.username" name="username" type="text" placeholder="Your username" required>
      </label>
      <label class="item item-input">
        <i class="icon ion-email"></i>
        <span class="input-label">Email</span>
        <input ng-model="user.email" name="email" type="email" placeholder="Your email" required>
      </label>
      <div class="password-input-wrapper">
      <label class="item item-input">
        <i class="icon ion-android-lock"></i>
        <span class="input-label">Password</span>
        <input ng-model="user.password" name="password" type="{{ showPassword ? 'text' : 'password' }}"   placeholder="Your password" required>
      </label>
      <button class="button button-clear btn-show-password" ng-click="togglePassword()" clear item-right><i class="ion-eye{{ showPassword ? '-disabled' : '' }}"></i></button>
    </div>
    </div>
    <div class="form-actions">
    <button class="button button-large button-balanced button-balanced signup-btn" ng-click="register(user)" ng-disabled="registerForm.$invalid">
      Complete Registeration
    </button>
  </div>
  </form>
  </ion-content>
</ion-view>
